[submodule ".registry"]
	path = .registry
	url = https://github.com/nhs-r-community/nhs-r-community.r-universe.dev
	branch = HEAD
[submodule "NHSRdatasets"]
	path = NHSRdatasets
	url = https://github.com/nhs-r-community/NHSRdatasets
	branch = main
[submodule "NHSRplotthedots"]
	path = NHSRplotthedots
	url = https://github.com/nhs-r-community/NHSRplotthedots
	branch = main
[submodule "NHSRpopulation"]
	path = NHSRpopulation
	url = https://github.com/nhs-r-community/NHSRpopulation
	branch = main
[submodule "NHSRpostcodetools"]
	path = NHSRpostcodetools
	url = https://github.com/nhs-r-community/NHSRpostcodetools
	registered = false
[submodule "NHSRtheme"]
	path = NHSRtheme
	url = https://github.com/nhs-r-community/NHSRtheme
	branch = main
[submodule "NHSRtools"]
	path = NHSRtools
	url = https://github.com/nhs-r-community/NHSRtools
	branch = main
