[submodule ".registry"]
	path = .registry
	url = https://github.com/nhs-r-community/universe
	shallow = true
	branch = HEAD
[submodule "NHSRdatasets"]
	path = NHSRdatasets
	url = https://github.com/nhs-r-community/NHSRdatasets
	shallow = true
	branch = main
	registered = true
[submodule "NHSRplotthedots"]
	path = NHSRplotthedots
	url = https://github.com/nhs-r-community/NHSRplotthedots
	shallow = true
	branch = main
	registered = true
[submodule "NHSRtools"]
	path = NHSRtools
	url = https://github.com/nhs-r-community/NHSRtools
	shallow = true
	branch = main
	registered = true
[submodule "nhsrtheme"]
	path = nhsrtheme
	url = https://github.com/nhs-r-community/nhsrtheme
	shallow = true
	branch = main
	registered = true
[submodule "shinyEndomineR"]
	path = shinyEndomineR
	url = https://github.com/nhs-r-community/shinyEndomineR
	shallow = true
	branch = master
	registered = true
[submodule "EndoMineR"]
	path = EndoMineR
	url = https://github.com/sebastiz/EndoMineR
	shallow = true
	registered = false
[submodule "rlang"]
	path = rlang
	url = https://github.com/r-lib/rlang
	shallow = true
	registered = false
